body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 2592px;
}

a {
  text-decoration: none;
}

header {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;

  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.logo {
  /*vertical-align: middle;*/
  padding-left: 156px;
  padding-top: 25.5px;
}

nav {
  display: inline-block;
  margin-left: 40px;
}

nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 0;
  padding-top: 24px;
}

.menu {
  display: inline-block;
  margin: 0 40px;
  margin-bottom: 0px;

  text-decoration: none;
  color: var(--navyblue, #2e2f42);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact {
  display: inline-block;
  margin: 0;
  margin-bottom: 0px;

  text-decoration: none;
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.info {
  padding-right: 40px;
  padding-left: 232px;
}

.number {
  padding-left: 0;
  margin-right: 156px;
}

.hero-content {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);

  padding-top: 188px;
}
.hero-content h1 {
  color: var(--white, #fff);
  text-align: center;
  margin: 0;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-content button {
  display: inline-block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;

  /* button margin*/
  margin-left: 636px;
  margin-top: 48px;
  margin-right: 635px;
  margin-bottom: 188px;

  color: var(--white, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.section1 {
  /*background-color: aqua;*/

  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  margin-left: 156px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.section1 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.section1 li {
  /* border: 1px solid #ccc; */

  flex: 1;
  margin: 0 0px;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;

  text-align: left;
  width: 264px;
  gap: 8px;
}

.section1 h3 {
  margin-top: 0;
  padding: 0;

  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
}

.section1 p {
  margin-bottom: 0;
  padding-top: 0;

  color: var(--slate, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section2 {
  /*background-color: aqua;*/

  width: 1128px;
  height: 412px;
  flex-shrink: 0;

  margin-left: 156px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.section2 h2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin-bottom: 72px;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section2 ul {
  list-style: none;
  padding: 0;
}

.section2-img1 {
  padding-left: 0;
  padding-right: 20px;
}

.section2-img2 {
  padding-right: 20px;
}

.section3 {
  background: var(--cloud, #f4f4fd);

  width: 1440px;
  height: 732px;

  flex-shrink: 0;

  margin-left: 0;
  padding: 0;
}

.section3 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;

  margin-left: 156px;
}

.section3 li {
  width: 264px;
  height: 348px;
  margin: 0 12px;

  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  padding-right: 24px;
}

.section3 h2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section3 h3 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section3 p {
  color: var(--slate, #434455);
  text-align: center;
  padding-top: 0;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;

  background: var(--navyblue, #2e2f42);
}

.footer div {
  padding-top: 100px;
  margin-left: 156px;
}

.footer h3 {
  /*not yet done*/
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer p {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
